@tailwind base;
@tailwind components;
@tailwind utilities;

.venue-list {
    background-color: white;
    border-top-left-radius: 20;
    border-top-right-radius: 20;
    elevation: 20;
}

.action-bar {
    background-color: #2563eb;
    color: white;
}

.map-container {
    width: 100%;
    height: 100%;
}